docker_*
# In dockerignore files, relative paths such as filename are equivalent to /filename in the project root directory
**/.deps
**/*.swp
**/*.swo
**/.git
**/acinclude.m4
**/aclocal.m4
**/autom4te.cache/
**/benchmark/
**/build/
**/CMakeFiles/
**/config.h
**/config.log
**/config.nice
**/config.status
**/config.guess
**/config.h.in
**/config.sub
**/configure
**/configure.in
**/install-sh
**/jsonexamples/
**/ltmain.sh
**/missing
**/mkinstalldirs
**/run-tests.php
**/scripts
**/Makefile
**/Makefile.*
**/!Makefile.frag
**/libtool
*~
**/modules/
**/.libs/
**/*.la
**/*.lo
**/*.dep
**/*.tgz
**/php_test_results_*.txt
*~
**/configure.ac
/cmake-*
/run-php
**/benchmark/vendor
**/composer.lock
**/.idea
