*.swp
*.swo
*.tgz
.deps
acinclude.m4
aclocal.m4
autom4te.cache/
build/
config.h
config.log
config.nice
config.status
config.guess
config.h.in
config.sub
configure
configure.in
install-sh
ltmain.sh
missing
mkinstalldirs
run-tests.php
Makefile
Makefile.*
!Makefile.frag
libtool
*~
modules/
.libs/
*.la
*.lo
*.dep
php_test_results_*.txt
tests/*
!tests/**/*.phpt
!tests/_files/
*~
configure.ac
/cmake-*
/run-php
benchmark/vendor
composer.lock
.idea
